#about {
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    margin: 0 6rem;
}

.content {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--article-color);
    min-height: 100%;
    min-width: 30rem;
    
}
#about > div {
    width: 100%;
}
#about > div h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#about > div article {
    text-align: center;
}