:root {
    --gradient-bg: linear-gradient(60deg, red, 30%, blue);
}

#about {
    width: 100%;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    min-height: 100svh;
}
/*scrolling latex background with complexities and data structures
type animation in terminal that reads "Hello World. Welcome to my Website!*/
