#home {
    min-height: 100vh;
    min-height: 100svh;
}

#home header h1 {
    display: flex;
    white-space: nowrap;  
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(50% - 9ch);
}


#home header h1 #text {
    overflow: hidden;
    animation: typing 1.5s steps(12, end);
}

#home header h1 #cursor {
    width: 1ch;
    animation: blinker 1s step-end infinite;
}

#home header h1 #caret {
    
    
}

@keyframes typing {
    from { width: 0; }
    to { width: 12ch; }
}

@keyframes blinker {
    from { background-color: var(--primary-color); }
    50% {background-color: transparent; }
}

