nav {
    width: 100%;
    z-index: 2;
    position: fixed;
    background: var(--secondary-color);
    min-width: 1000px;
}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    white-space: nowrap;
}

nav ul li a button, nav ul li label {
    font-size: medium;
    padding: 1.5rem 2rem;
}

nav ul li label {
    display: flex;
    align-items: center;
}

nav ul li label input[type=checkbox] {
    line-height: normal;
    width: 16px;
    height: 16px;
 }

nav ul li a[href^="https"] button::after{
    content: "";
    background: url("../../public/icons8-external-link-26.png");
    background-size: 16px auto;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
}

nav ul li a[download] button::after{
    content: "";
    background: url("../../public/icons8-download-26.png");
    background-size: 16px auto;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
}

nav ul li a[href^="mailto"] button::after {
    content: "";
    background: url("../../public/icons8-mail-24.png");
    background-size: 16px auto;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
}

nav ul li .active {
    
    transition: all 0.5s ease;
}
