#projects {
    text-align: center;
    display: grid;
    justify-content: center;
}

#projects > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
    margin: 0 6rem;
    
    
}
#projects > div > div {
    height: 100%;
}

.github {
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
}

.github:hover {
    text-decoration: underline;
}

.github::after {
    content: "";
    background: url("../../public/icons8-external-link-26.png");
    background-size: 16px auto;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
}

#projects div .content article {
    margin: 1rem 0;
} 

#projects > h2 {
    
    margin-top: 6rem;
    margin-bottom: 1rem;
}