#projects {
    width: 100%;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    min-height: 100svh;
}
#projects section {
    transition-delay: 200ms
    
}