#experience-content div.exp {
    border-top: 2px solid var(--article-dark);
}

#experience-content div.exp {
    padding: 4rem;
}

#experience-content .exp.top {
    border: none;
}

#experience-content div.exp > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4rem;
    align-items: center;
}

#experience-content div.exp >div >div {
    flex: 1;
}